/* All pages */

body {
    height: 100%;
    width: 100%;
    background-color: gray;
}


.jumbotron {
    background: url('/media/heroimg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 250px;
    color: #555;
    font-family: 'Lato';
    margin: 15px 0;
}

.jumbo-text {
    padding-top: 15px;
}

.feed-header {
    margin: 10px;
}